[submodule "external/gtest"]
	path = external/gtest
	url = https://git.chromium.org/git/external/googletest.git
[submodule "external/gmock"]
	path = external/gmock
	url = https://git.chromium.org/git/external/googlemock.git
