[submodule "external/gtest"]
	path = external/gtest
	url = https://chromium.googlesource.com/external/googletest.git
[submodule "external/gmock"]
	path = external/gmock
	url = https://chromium.googlesource.com/external/googlemock.git
